NEXT_PUBLIC_SUPABASE_URL='URL supabase project'
NEXT_PUBLIC_SUPABASE_ANON_KEY='Project Anon key on settings supabase'
NEXT_PUBLIC_CURRENT_ORIGIN='http://localhost:3000 try it to testing before deloy'
NEXT_PUBLIC_SITE_URL='http://localhost:3000 same'
UPLOADTHING_SECRET='Uploadthing_secret keyy ( sign in )'
UPLOADTHING_APP_ID='Project ID in Uploadthing'
LIVEKIT_API_KEY='your project Likekit key'
LIVEKIT_API_SECRET='Your Secret Likekit key'
NEXT_PUBLIC_LIVEKIT_URL='URL cloud on Likekit'
